<!DOCTYPE html >
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>海晨物流 - 让物流聪明起来</title>
    <link rel="icon" href="logo.png" type="image/x-icon" />
</head>
  <body>
    <!-- <noscript>Sorry, we need js to run correctly!</noscript> -->
    <noscript>HiBase2.0研发引擎
      <img src="logo.png" width="25px" height="25px"/>
    </noscript>  
     <div id="root"></div>
    </body>
</html>
